06-Web-services/Task1/webservice/src/FileShareService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://webservice.jmp2017w.com/" name="FileShareService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webservice.jmp2017w.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <wsp:Policy wsu:Id="FileShareServiceImplPortBinding_MTOM_Policy">
        <ns1:OptimizedMimeSerialization wsp:Optional="true" xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
    </wsp:Policy>
    <types>
        <xs:schema version="1.0" targetNamespace="http://webservice.jmp2017w.com/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://webservice.jmp2017w.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://www.w3.org/2005/05/xmlmime"/>
            <xs:element name="create" type="tns:create"/>

            <xs:element name="createResponse" type="tns:createResponse"/>

            <xs:element name="delete" type="tns:delete"/>

            <xs:element name="deleteResponse" type="tns:deleteResponse"/>

            <xs:element name="read" type="tns:read"/>

            <xs:element name="readResponse" type="tns:readResponse"/>

            <xs:element name="update" type="tns:update"/>

            <xs:element name="updateResponse" type="tns:updateResponse"/>

            <xs:complexType name="delete">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="deleteResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="update">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg1" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="updateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="create">
                <xs:sequence>
                    <xs:element name="arg0" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="createResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="read">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="readResponse">
                <xs:sequence>
                    <xs:element name="return" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>


    </types>
    <message name="update">
        <part name="parameters" element="tns:update"/>
    </message>
    <message name="updateResponse">
        <part name="parameters" element="tns:updateResponse"/>
    </message>
    <message name="delete">
        <part name="parameters" element="tns:delete"/>
    </message>
    <message name="deleteResponse">
        <part name="parameters" element="tns:deleteResponse"/>
    </message>
    <message name="read">
        <part name="parameters" element="tns:read"/>
    </message>
    <message name="readResponse">
        <part name="parameters" element="tns:readResponse"/>
    </message>
    <message name="create">
        <part name="parameters" element="tns:create"/>
    </message>
    <message name="createResponse">
        <part name="parameters" element="tns:createResponse"/>
    </message>
    <portType name="FileShareService">
        <operation name="update">
            <input wsam:Action="http://webservice.jmp2017w.com/FileShareService/updateRequest" message="tns:update"/>
            <output wsam:Action="http://webservice.jmp2017w.com/FileShareService/updateResponse" message="tns:updateResponse"/>
        </operation>
        <operation name="delete">
            <input wsam:Action="http://webservice.jmp2017w.com/FileShareService/deleteRequest" message="tns:delete"/>
            <output wsam:Action="http://webservice.jmp2017w.com/FileShareService/deleteResponse" message="tns:deleteResponse"/>
        </operation>
        <operation name="read">
            <input wsam:Action="http://webservice.jmp2017w.com/FileShareService/readRequest" message="tns:read"/>
            <output wsam:Action="http://webservice.jmp2017w.com/FileShareService/readResponse" message="tns:readResponse"/>
        </operation>
        <operation name="create">
            <input wsam:Action="http://webservice.jmp2017w.com/FileShareService/createRequest" message="tns:create"/>
            <output wsam:Action="http://webservice.jmp2017w.com/FileShareService/createResponse" message="tns:createResponse"/>
        </operation>
    </portType>
    <binding name="FileShareServiceImplPortBinding" type="tns:FileShareService">
        <wsp:PolicyReference URI="#FileShareServiceImplPortBinding_MTOM_Policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="update">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="read">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="create">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="FileShareService">
        <port name="FileShareServiceImplPort" binding="tns:FileShareServiceImplPortBinding">
            <soap:address location="http://localhost:9876/file-share-service"/>
        </port>
    </service>
</definitions>